{{form.value | json}}
<form enctype="application/x-www-form-urlencoded" [formGroup]="form" (ngSubmit)="onSubmit()">

    <input type="file" name="myfile" id=""  (change)="onImageSelect($event)">

    <button type="submit">Upload</button>

</form>